<% item = t('products.show.items') %>
<% vertical_bar = t('products.show.symbol') %>
<% cart_id = cart_path(cart.id) %>

<div class="w23per float-right" id="top-cart">
  <%= link_to image_tag('top-cart-icon.png', class: 'float-left', alt: 'კალათა'), cart_id %>
  <div>
    <h3><%= link_to t('products.show.your_cart'), cart_id %></h3>
    <% if get_loc == 'en' %>
        <span><%= link_to pluralize(@cart.items_quantity, item), cart_id %></span>
        <span><%= vertical_bar %></span>
    <% else %>
        <span><%= link_to "#{@cart.items_quantity} #{item}", cart_id %></span>
        <span><%= vertical_bar %></span>
    <% end %>
    <span><%= link_to "#{@cart.total_price} #{t('products.show.currency')}", cart_id %></span>
  </div>
</div>