<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<%= render(@cart.line_items) %>
<span><%= @cart.total_price %>&nbsp;<%= t('products.show.currency') %></span>
<%= button_to t('carts.show.empty_cart'), @cart, method: :delete, data: { confirm: 'Are you sure?' } %>