<section class="mt10px w76per float-right" id="main-section">
  <section class="full-width float-left mt10px">
    <h2 class="full-width float-left mb10px fs18px fbold">
      <%= @sub_title["title_#{get_loc}"]  %>
    </h2>
    <% @prefixes.each do |prefix| %>
        <article class="perprodStyleOut full-width float-left">
          <% products = product_list(prefix.id) %>
          <% products.each do |img| %>
              <% product_image(img.id).each do |pimg|  %>
                  <figure class="w23per float-left center-text">
                    <%= image_tag pimg.product_img, style: 'width: 175px'  %>
                  </figure>
              <% end %>
          <% end %>

          <aside class="w76per float-right">
            <table class="full-width float-left perprodStyle">
              <tbody class="full-width">
              <tr class="full-width" style="text-align: left;">
                <th class="full-width" colspan="4">
                  <%= link_to prefix["prefix_#{get_loc}"], '#', class: 'all-inherit' %>
                </th>
              </tr>

              <% i = 0 %>
              <% products.each do |list| %>
              <tr class="full-width <%= 'gray-bg' if i == 0 %>" >
                <td style="width: 300px;"><%= link_to list["title_#{get_loc}"], product_path(list.id), class: 'all-inherit' %></td>
                <td style="width: 100px; text-align: right;">
                  <% if list.discount == 0 %>
                      <%= "#{sprintf('%.2f', list.price)} #{t('products.show.currency')}" %>
                  <% else %>
                      <%= "#{sprintf('%.2f',list.discount)} #{t('products.show.currency')}" %><br />
                      <span class="mt14px color-gray fs14px stroke">
                        <%= "#{sprintf('%.2f', list.price)} #{t('products.show.currency')}" %>
                      </span>
                  <% end %>
                </td>
                <td style="width: 178px; text-align: center">
                  <%= form_tag line_items_path(product_id: list.id), remote: true do %>
                    <span class="cartAddRem">
                        <button class="minus">-</button>
                        <%= text_field_tag 'quantity', 0, size: 1, class: 'quantity' %>
                        <button class="plus">+</button>
                        <span>რაოდ.</span>
                    </span>
                    <%= submit_tag '', class: 'buttCartSmall' %>
                  <% end %>
                </td>
              </tr>
                  <% i += 1 %>
              <% end %>
              </tbody>
            </table>
          </aside>
        </article>
    <% end %>
  </section>
</section>


<%# paginate @prefixes %>
