<div>
   <% @prefixes.each do |prefix| %>
      <% products = product_list(prefix.id) %>
        <div><%= link_to prefix.prefix_ge, products.first %></div>
      <% products.each do |list| %>
        <div>
          <%= link_to list["title_#{get_loc}"], product_path(list.id) %>
          <span>
            <%= list.price %>&nbsp;<%= t('products.show.currency') %>
            <button class="minus">-</button>
                <input type="text" class="quantity" value="0" size="2">
            <button class="plus">+</button>
          </span>
        </div>
          <% product_image(list.id).each do |pimg|  %>
              <div><%= image_tag pimg.product_img  %></div>
          <% end %>
      <% end %>
   <% end %>
</div>
