<article>
  <h1><%= @prefix["prefix_#{get_loc}"] %> - <%= @product["title_#{get_loc}"]%></h1>
  <div>
    <!-- image -->
  </div>
  <div>
    <% prefix_product_list(@prefix.id, @product.sub_category_id, @product.id).each do |p| %>
        <span>
          <span><%= link_to p["title_#{get_loc}"], product_path(p.id) %></span>
          <span><%= p.price %>&nbsp;<%= t('products.show.currency') %></span>
        </span>
        <span>
          <%= form_tag line_items_path(product_id: p.id) do %>
              <span class="minus">-</span>
              <span>
                <%= text_field_tag 'quantity', 0, size: 1, class: 'quantity' %>
              </span>
              <span class="plus">+</span>
            <%= submit_tag t('.add_to_cart') %>
          <% end %>
        </span>
    <% end %>
  </div>
</article>
<article>
    <div><%=raw @product["description_#{get_loc}"] %></div>
</article>
<article>
  <% related_product_prefix_list(@product.sub_category_id).each do |relp| %>
      <div>
        <h3><%= relp["prefix_#{get_loc}"] %>&nbsp;<%= relp["title_#{get_loc}"] %></h3>
        <% product_image(relp.id).each do |img| %>
            <%= image_tag img.product_img %>
        <% end %>
      </div>
  <% end %>
</article>
