<tr class="full-width">
  <td style="text-align: left;">
    <% one_product_image(line_item.product_id).each do |img| %>
        <%= link_to image_tag(img.product_img, style: 'width: 41px'), class: 'all-inherit' %>
    <% end %>
  </td>
  <td>
    <%= link_to line_item.product["title_#{get_loc}"], product_path(line_item.product_id), class: 'all-inherit' %>
  </td>
  <%= form_tag line_items_path(product_id: line_item.product_id), remote: true do %>
  <td style="width: 178px; text-align: center;">
    <span class="cartAddRem">
      <button class="minus">-</button>
        <%= text_field_tag 'quantity', line_item.quantity, size: 1, class: 'quantity' %>
        <%= hidden_field_tag 'c', '1'  %>
      <button class="plus">+</button>
      <span>რაოდ.</span>
    </span>
    <% if params[:controller] == 'carts' %>
        <%= submit_tag '', class: 'cartdelred' %>
        <%= link_to '',
                    {:action => :destroy, :controller => 'line_items', :id => line_item.id },
                    method: :delete,  class: 'cartdelred' %>
    <% else %>
        <%= submit_tag t('products.show.add_to_cart') %>
    <% end %>
  </td>
  <% end %>
  <td><%= sprintf('%.2f', line_item.per_item_price) %>&nbsp;<%= t('products.show.currency') %></td>
  <td><%= sprintf('%.2f', line_item.total_price) %>&nbsp;<%= t('products.show.currency') %></td>
</tr>

