<header>
  <div>
    <%= link_to 'Wunderkind Logo', '/', id: 'logo' %>
    <nav>
      <ul>
        <% categories[:cat].each do |cat| %>
            <li><%= link_to cat["title_#{get_loc}"], category_path(cat.id) %></li>
            <ul>
              <% categories[:sub].where(category_id: cat.id).each do |sub| %>
                  <li><%= link_to sub["title_#{get_loc}"], sub_category_path(sub.id) %></li>
              <% end %>
            </ul>
        <% end %>
      </ul>
    </nav>
    <div>
      <% if customer_signed_in? %>
          <pre><%= current_amount %></pre>
          <strong><%= current_customer.first_name %> <%= current_customer.last_name %></strong>[<em><%= current_customer.email %></em>]
          <%= link_to 'Edit profile', edit_customer_registration_path %> |
          <%= link_to 'Orders', orders_path %> |
          <%= link_to 'Balance', authentications_path %> |
          <%= link_to "Logout", destroy_customer_session_path, method: :delete %>
      <% else %>
          <%= link_to "Sign up", new_customer_registration_path %> |
          <%= link_to "Login", new_customer_session_path %> |
          <%= link_to "Facebook", customer_omniauth_authorize_path(:facebook) %>
      <% end %>
    </div>
    <div id="cart">
        <%# render @cart %>
    </div>
    <div>
      <%= form_tag(products_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
          <%# hidden_field_tag :locale, get_loc %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  </div>
</header>