<div>
  <%= form_tag(products_path, :method => 'get', id: 'filter-form') do %>
    <div><%= collection_radio_buttons(:sub_category, :id, SubCategory.all, :id, :title_ge) %></div>
    <div><%= collection_check_boxes(:brand, :id, Brand.all, :id, :title_ge) %></div>
      <div><%= collection_check_boxes(:sex, :id, Sex.all, :id, :sex_ge) %></div>
      <div><%= collection_check_boxes(:age, :id, Age.all, :id, :age_ge) %></div>
      <div><%= hidden_field_tag 'price_min', Product.minimum('price') %></div>
      <div><%= hidden_field_tag 'price_max', Product.maximum('price') %></div>
      <div><%= hidden_field_tag 'f', 'f' %></div>
      <%= submit_tag 'ok' %>
  <% end %>
</div>