<!DOCTYPE html>
<html>
<head>
  <title><%= meta_info.meta_title %> | <%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= meta_info.meta_description %>">
  <meta name="keywords" content="<%= meta_info.meta_keywords %>">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="<%= controller.controller_name %>">
    <%= render 'layouts/header', categories: menu_items %>
    <div class="container">
        <%= yield %>
      <%= render 'layouts/left_column' %>
      <%= render 'layouts/footer' %>
    </div>
</body>
</html>
