<!DOCTYPE html>
<html>
<head>
  <title><%= meta_info.meta_title %> | <%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= meta_info.meta_description %>">
  <meta name="keywords" content="<%= meta_info.meta_keywords %>">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="<%= controller.controller_name %>">
    <%= render 'layouts/header', categories: menu_items %>
    <section class="full-wrapp">
      <%= render 'layouts/left_column' %>
        <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
</body>
</html>
